In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
ff5 = pd.read_csv('F-F_Research_Data_5_Factors_2x3.csv',skiprows=3)
ff5 = ff5.rename(columns={'Unnamed: 0': 'Date'})
ff5.head()

     Date    Mkt-RF       SMB       HML       RMW       CMA        RF
0  196307     -0.39     -0.48     -0.81      0.64     -1.15      0.27
1  196308      5.08     -0.80      1.70      0.40     -0.38      0.25
2  196309     -1.57     -0.43      0.00     -0.78      0.15      0.27
3  196310      2.54     -1.34     -0.04      2.79     -2.25      0.29
4  196311     -0.86     -0.85      1.73     -0.43      2.27      0.27

In [3]:
def safe_convert_dates(df, date_col='Date'):
    converted_dates = []
    for i, date_str in enumerate(df[date_col]):
        try:
            date = datetime.strptime(str(date_str), '%Y%m')
            converted_dates.append(date)
        except ValueError:
            break
    success_df = df.iloc[:len(converted_dates)].copy()
    success_df[date_col] = converted_dates
    return success_df

In [4]:
ff5_monthly = safe_convert_dates(ff5)
ff5_monthly.tail()

          Date    Mkt-RF       SMB       HML       RMW       CMA        RF
741 2025-04-01     -0.84     -1.86     -3.40     -2.85     -2.67      0.35
742 2025-05-01      6.06     -0.72     -2.88      1.26      2.51      0.38
743 2025-06-01      4.86     -0.02     -1.60     -3.19      1.45      0.34
744 2025-07-01      1.98     -0.15     -1.27     -0.29     -2.07      0.34
745 2025-08-01      1.85      4.88      4.41     -0.69      2.07      0.38

In [5]:
ff5_monthly.set_index('Date', inplace=True)
ff5_monthly.head()

              Mkt-RF       SMB       HML       RMW       CMA        RF
Date
1963-07-01     -0.39     -0.48     -0.81      0.64     -1.15      0.27
1963-08-01      5.08     -0.80      1.70      0.40     -0.38      0.25
1963-09-01     -1.57     -0.43      0.00     -0.78      0.15      0.27
1963-10-01      2.54     -1.34     -0.04      2.79     -2.25      0.29
1963-11-01     -0.86     -0.85      1.73     -0.43      2.27      0.27

In [6]:
momentum = pd.read_csv('F-F_Momentum_Factor.csv',skiprows=13)
momentum = momentum.rename(columns={'Unnamed: 0': 'Date'})
momentum.head()

     Date      Mom
0  192701     0.57
1  192702    -1.50
2  192703     3.52
3  192704     4.36
4  192705     2.78

In [7]:
momentum_monthly = safe_convert_dates(momentum)
momentum_monthly.tail()

           Date      Mom
1179 2025-04-01     4.97
1180 2025-05-01     2.21
1181 2025-06-01    -2.64
1182 2025-07-01    -0.96
1183 2025-08-01    -3.54

In [8]:
momentum_monthly['Mom'] = momentum_monthly['Mom'].replace([-99.99, -999], np.nan)

In [9]:
momentum_monthly.set_index('Date', inplace=True)
momentum_monthly.head()

                Mom
Date
1927-01-01     0.57
1927-02-01    -1.50
1927-03-01     3.52
1927-04-01     4.36
1927-05-01     2.78

In [10]:
growth = pd.read_csv(
    '6_Portfolios_2x3.csv',
    skiprows=15,
    sep=None,            
    engine='python',     
    on_bad_lines='skip'
)
growth = growth.rename(columns={'Unnamed: 0': 'Date'})
growth.head()

     Date SMALL LoBM    ME1 BM2 SMALL HiBM   BIG LoBM    ME2 BM2   BIG HiBM
0  192607     1.0866     0.8807    -0.1275     5.5746     1.9060     2.0068
1  192608     0.7831     1.4677     5.4422     2.7268     2.7028     5.6834
2  192609    -2.8045    -0.0599    -0.4399     1.4777     0.0954    -0.7872
3  192610    -4.0289    -4.3615    -2.0128    -3.6327    -2.3451    -4.0040
4  192611     3.2971     3.6237     2.0877     3.2120     2.9346     3.1964

In [11]:
growth_monthly = safe_convert_dates(growth)
growth_monthly.tail()

,Date,SMALL LoBM,ME1 BM2,SMALL HiBM,BIG LoBM,ME2 BM2,BIG HiBM
1185,2025-04-01,-1.1577,-2.4548,-4.4806,0.8250,-4.4936,-2.6590
1186,2025-05-01,6.3255,4.3595,5.4723,7.7774,3.4002,2.8720
1187,2025-06-01,6.4800,5.6385,4.7752,5.5999,4.7095,4.0982
1188,2025-07-01,1.7792,1.3753,2.1188,2.9656,1.4194,0.0872
1189,2025-08-01,5.8367,7.5601,9.2387,1.4599,2.6787,6.8838

In [12]:
growth_monthly.set_index('Date', inplace=True)
growth_monthly.head()

           SMALL LoBM    ME1 BM2 SMALL HiBM   BIG LoBM    ME2 BM2   BIG HiBM
Date
1926-07-01     1.0866     0.8807    -0.1275     5.5746     1.9060     2.0068
1926-08-01     0.7831     1.4677     5.4422     2.7268     2.7028     5.6834
1926-09-01    -2.8045    -0.0599    -0.4399     1.4777     0.0954    -0.7872
1926-10-01    -4.0289    -4.3615    -2.0128    -3.6327    -2.3451    -4.0040
1926-11-01     3.2971     3.6237     2.0877     3.2120     2.9346     3.1964

In [13]:
growth_monthly['SMALL LoBM'] = growth_monthly['SMALL LoBM'].replace([-99.99, -999], np.nan)

In [14]:
low_vol = pd.read_csv('Portfolios_Formed_on_VAR.csv',skiprows=16)
low_vol = low_vol.rename(columns={'Unnamed: 0': 'Date'})
low_vol.head()

,Date,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
0,196307,0.32,-0.40,-1.08,-0.23,-1.73,0.38,0.22,0.29,-1.32,-1.07,-1.09,0.86,-2.12,-1.81,-1.67
1,196308,4.59,6.07,5.91,6.47,7.80,4.18,5.25,5.36,7.03,5.97,5.83,6.27,6.70,9.12,6.43
2,196309,-0.91,-1.08,-2.69,-2.48,-1.58,-0.54,-1.39,-0.86,-1.41,-1.94,-3.34,-2.97,-1.89,-0.57,-2.49
3,196310,3.11,2.24,2.41,2.36,3.51,1.32,5.55,2.80,1.33,2.54,2.24,2.17,2.70,6.43,0.63
4,196311,0.78,-1.15,-3.21,0.07,-1.66,1.48,-0.31,-1.04,-1.36,-4.50,-0.52,0.39,-0.42,0.78,-3.51

In [15]:
low_vol_monthly = safe_convert_dates(low_vol)
low_vol_monthly.tail()

,Date,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
741,2025-04-01,-1.54,-3.16,-0.12,2.85,5.52,-2.46,-0.54,-3.58,-2.86,0.09,-0.56,4.83,-0.58,7.85,4.66
742,2025-05-01,3.70,4.79,3.47,6.74,19.64,-0.51,6.93,3.80,5.79,8.11,1.91,6.49,7.16,21.27,16.52
743,2025-06-01,-0.73,5.10,7.74,9.67,6.33,-1.47,0.05,5.37,4.67,5.93,8.80,6.19,13.15,10.41,3.63
744,2025-07-01,0.64,1.19,2.29,4.79,3.53,-1.10,2.08,-0.86,3.94,-0.14,3.77,2.25,7.57,4.02,3.06
745,2025-08-01,2.46,2.16,0.85,0.62,6.81,0.40,5.45,1.58,2.62,1.83,-0.54,-1.19,3.69,7.79,3.34

In [16]:
low_vol_monthly.set_index('Date',inplace=True)
low_vol_monthly.head()

,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
Date,,,,,,,,,,,,,,,
1963-07-01,0.32,-0.40,-1.08,-0.23,-1.73,0.38,0.22,0.29,-1.32,-1.07,-1.09,0.86,-2.12,-1.81,-1.67
1963-08-01,4.59,6.07,5.91,6.47,7.80,4.18,5.25,5.36,7.03,5.97,5.83,6.27,6.70,9.12,6.43
1963-09-01,-0.91,-1.08,-2.69,-2.48,-1.58,-0.54,-1.39,-0.86,-1.41,-1.94,-3.34,-2.97,-1.89,-0.57,-2.49
1963-10-01,3.11,2.24,2.41,2.36,3.51,1.32,5.55,2.80,1.33,2.54,2.24,2.17,2.70,6.43,0.63
1963-11-01,0.78,-1.15,-3.21,0.07,-1.66,1.48,-0.31,-1.04,-1.36,-4.50,-0.52,0.39,-0.42,0.78,-3.51

In [17]:
low_vol_monthly['Lo 20'] = low_vol_monthly['Lo 20'].replace([-99.99, -999], np.nan)

In [18]:
low_vol_monthly.head()

,Lo 20,Qnt 2,Qnt 3,Qnt 4,Hi 20,Lo 10,Dec 2,Dec 3,Dec 4,Dec 5,Dec 6,Dec 7,Dec 8,Dec 9,Hi 10
Date,,,,,,,,,,,,,,,
1963-07-01,0.32,-0.40,-1.08,-0.23,-1.73,0.38,0.22,0.29,-1.32,-1.07,-1.09,0.86,-2.12,-1.81,-1.67
1963-08-01,4.59,6.07,5.91,6.47,7.80,4.18,5.25,5.36,7.03,5.97,5.83,6.27,6.70,9.12,6.43
1963-09-01,-0.91,-1.08,-2.69,-2.48,-1.58,-0.54,-1.39,-0.86,-1.41,-1.94,-3.34,-2.97,-1.89,-0.57,-2.49
1963-10-01,3.11,2.24,2.41,2.36,3.51,1.32,5.55,2.80,1.33,2.54,2.24,2.17,2.70,6.43,0.63
1963-11-01,0.78,-1.15,-3.21,0.07,-1.66,1.48,-0.31,-1.04,-1.36,-4.50,-0.52,0.39,-0.42,0.78,-3.51

In [19]:
final_df = pd.DataFrame({
    'Value': ff5_monthly['HML'],                    
    'Growth': growth_monthly['SMALL LoBM'],        
    'Momentum': momentum_monthly['Mom'],            
    'Quality': ff5_monthly['RMW'],                  
    'Small_Cap': ff5_monthly['SMB'],              
    'Low_Vol': low_vol_monthly['Lo 20'],         
    'RF': ff5_monthly['RF']     
})
final_df.head()

           Value     Growth Momentum Quality Small_Cap Low_Vol   RF
Date
1926-07-01   NaN     1.0866      NaN     NaN       NaN     NaN  NaN
1926-08-01   NaN     0.7831      NaN     NaN       NaN     NaN  NaN
1926-09-01   NaN    -2.8045      NaN     NaN       NaN     NaN  NaN
1926-10-01   NaN    -4.0289      NaN     NaN       NaN     NaN  NaN
1926-11-01   NaN     3.2971      NaN     NaN       NaN     NaN  NaN

In [20]:
final_df.index = pd.to_datetime(final_df.index, errors='coerce')
final_df = final_df[final_df.index >= '2000-01-01']
final_df.head()

,Value,Growth,Momentum,Quality,Small_Cap,Low_Vol,RF
Date,,,,,,,
2000-01-01,-1.12,1.3973,1.86,-6.15,4.21,-5.00,0.41
2000-02-01,-9.77,28.9531,18.02,-18.95,18.46,-5.71,0.43
2000-03-01,8.50,-13.7327,-6.85,11.65,-15.54,11.72,0.47
2000-04-01,6.45,-14.9815,-8.60,8.07,-4.75,3.85,0.46
2000-05-01,4.59,-7.3877,-8.99,4.05,-3.86,0.55,0.50

In [21]:
final_df.tail()

,Value,Growth,Momentum,Quality,Small_Cap,Low_Vol,RF
Date,,,,,,,
2025-04-01,-3.40,-1.1577,4.97,-2.85,-1.86,-1.54,0.35
2025-05-01,-2.88,6.3255,2.21,1.26,-0.72,3.70,0.38
2025-06-01,-1.60,6.4800,-2.64,-3.19,-0.02,-0.73,0.34
2025-07-01,-1.27,1.7792,-0.96,-0.29,-0.15,0.64,0.34
2025-08-01,4.41,5.8367,-3.54,-0.69,4.88,2.46,0.38

In [22]:
final_df.to_csv('final_df.csv')